/* own css */
* {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
color: #999999;
font-family: 'Nunito Sans', sans-serif;
font-weight: 300;
font-size: 18px;
}
.row {
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.box {
  margin-top: 50px;
  padding: 0 20px;
}
.box-2{
  padding: 50px;
}

.box-5 {
  padding-bottom: 50px;
}

.box-3 {
  padding-bottom: 50px;
  padding-top:  50px;
}
.box-4 {
    padding: 0 20px;
}


/* NEW */
.box-5 {
  margin-top: 50px;;
}

.Headline {
  font-weight: 800;
  color: #C1987C;
 }

 .color1 {
   background-color: rgba(242, 212, 194,0.5);

 }
 .color2 {
   background-color: rgba( 	255, 230, 157,0.5);
 }
 .color3 {
   background-color: rgba(230, 236, 182,0.5);
 }
 .color4 {
   background-color: rgba( 	222, 240, 240,0.5);
 }
 .color-white {
   color: white;
 }
 .color-yellow-light {
   background-color: #FFF6DD;
 }
 .center-img {
   padding: 20px 0px;
 }

 .box-text {
   padding: 100px 200px;
   margin: 20px 0px;
 }

 .box-text-2 {
   padding: 50px;
   margin: 40px 0px;
 }

 .box-text-3 {
   padding: 10px 30px;
 }

 .box-text-4 {
   padding: 10px 10px 15px 0px;
 }

 .background {
   padding: 20px 15px 15px 15px;
   margin: 20px;
 }

 .Blocksatz {
   hyphens: auto;
 	text-align: justify
 }


/* nav */
.border-nav {
  border-bottom: solid #c1987c 2px;
  background-color: white;
  padding: 10px 0 0 0;
}
.nav-font-color {
  color: #c1987c;
  font-weight: bold;
}
.nav-font-color2 , .nav-link:hover {
  color: #fee69c;
  font-weight: bold
}

/* introduction */
.Logo {
  margin-top: 20px;
  width: 30%;
}

/* .background {
  padding: 20px 15px 15px 15px;
  margin: 20px;
} */

/* index  */

/* slideshow */

/* footer */
footer {
 background-color: #c1987c;
}

footer div div {
  display: inline-block;
}
footer div div div {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}
footer div div img {
  height: 100%;
}
footer .row {
 padding: 20px 0;
 margin: 0;
}
#icon {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.icon {
  margin-right: 1.2rem;
}
#Facebook {
  margin-left: 0.8rem;
}
#impressumText {
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 0.7rem;
}
footer a:hover {
  text-decoration: none;
  color: grey;
}

/* contact */

#ersteReiheSmartphone {
  display: none;
}

#ersteReiheDesktop {
  display: flex;
  justify-content: center;
  width: 90%;
}
.TabletQuerieContact {
  width: 90%;
}

.Name {
  background-color: #ffffff;
  height: 2rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  border-style: hidden;
  border:  #C1987C solid 2px;
  color:  #C1987C;
}

.Surname {
  background-color: #ffffff;
  height: 2rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  border-style: hidden;
  border:  #C1987C solid 2px;
  color:  #C1987C;
}

#EMail {
  background-color: #ffffff;
  height: 2rem;
  display: block;
  order: 2;
  margin-top: 1rem;
  font-size: 0.8rem;
  border-radius: 10px;
  border-style: hidden;
  border:  #C1987C solid 2px;
  color:  #C1987C;

}

#Subject {
  background-color: #ffffff;
  height: 2rem;
  display: block;
  order: 3;
  margin-top: 1rem;
  font-size: 0.8rem;
    border-radius: 10px;
    border-style: hidden;
    border:  #C1987C solid 2px;
    color:  #C1987C;

}

#Message {
  background-color: #ffffff;
  height: 10rem;
  display: block;
  order: 4;
  margin-top: 1rem;
  font-size: 0.8rem;
  border-radius: 10px;
  border-style: hidden;
  border:  #C1987C solid 2px;
  color:  #C1987C;
}

.submit {
  color: #C1987C;
  order: 4;
  background-color:#FFFFFF;
  margin-top: 1rem;
  height: 2.2rem;
  width: 13rem;
  border-style: hidden;
  border:  #C1987C solid 2px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color:  #C1987C;
}

.submit:hover {
  background-color:  rgb(242, 212, 194);
  color: white;
  border: white;
}

textarea {
  resize: none;
}

#WeisseBoxenFormular {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

#WeisseBoxenFormular input {
  padding-left: 0.5rem;
}

#WeisseBoxenFormular textarea {
  padding-left: 0.5rem;
}


.contact-background {
  background-image: url("../images/color1-background.jpg");
  background-size: contain;
}

.border-headline-5 {
  border-bottom: solid rgb(230, 236, 182) 2px;
  padding: 20px;
}
	
.border-headline-3 {
  border-bottom: solid rgb(242, 212, 194) 2px;
  padding: 20px;
}

/* about us */
.box-team {
  padding: 20px;
  margin: 20px;
}

.img-size {
  padding: 10px;
}

.border-headline-2 {
    border-top: solid #FFE69D 2px;
    /* padding: 20px; */
 }

.border-headline {
    border-bottom: solid #FFE69D 2px;
    padding: 20px;
 }

.border-headline {
    border-bottom: solid #FFE69D 2px;
    padding: 20px;
 }

.float-center {
  margin: 50px;
}

cite {
  font-size: 12px;
}

.card-text {
  font-size: 14px;
}
.card{
	display: inline-grid;
	margin: 5px;
}


/* Testing */

.border-headline-4 {
    border-bottom: solid #def0f0 2px;
    padding: 20px;
 }

.small-fontsize  {
  font-size: 12px;
}

/* Index NEW */
.Insta-Button {
  color: #C1987C;
  font-weight: bold;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*NAV NEW*/
.nav-link {
  padding: 0.3rem 0rem 0.3rem 4rem;
}



/* NEW1 Media Queries //Contact Page */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px)
/* Contact Page */
    {
   .contact-background {
     background-image: none;
     background-color: rgba(242, 212, 194,0.5);
     }
     .smartnone {
       display: none;
     }
     /*navbar*/
     .nav-link {
       padding: 0.3rem 0rem 0.3rem 0rem;

     }
   }


.navbar-brand {
  font-size: 0rem;
}

.carousel-control-next-icon {
  color: black;
}
.logo-size {
  width: 280px;
}
